@using Template.Model.StudentModels
@model Template.Model.StudentModels.StudentModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="panel-body">
    <div class="panel-heading"><h2>Add Student</h2></div>
    <div class="row">
        <div class="panel-heading">
            <h4 class="heading-1"> <span>Student Information</span> </h4>
        </div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-sm-1">
                    <label asp-for="Title" class="control-label"></label>
                    <select asp-for="Title" class="form-control" asp-items="Html.GetEnumSelectList<TittleEnum>()">
                        <option>Select Tittle ...</option>
                    </select>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Identity" class="control-label"></label>
                    <input asp-for="Identity" class="form-control" />
                    <span asp-validation-for="Identity" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <label asp-for="Nationality" class="control-label"></label>
                    <input asp-for="Nationality" class="form-control" />
                    <span asp-validation-for="Nationality" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <label asp-for="CellNumber" class="control-label"></label>
                    <input asp-for="CellNumber" class="form-control" />
                    <span asp-validation-for="CellNumber" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="Address" class="control-label"></label>
                    <textarea asp-for="Address" class="form-control mb-3" rows="3" placeholder="Address"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control col-xs-2" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="TelephoneNumber" class="control-label"></label>
                    <input asp-for="TelephoneNumber" class="form-control" />
                    <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="heading-1"> <span>Guardian Information</span> </h4>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="Guardian_FirstName" class="control-label"></label>
                    <input asp-for="Guardian_FirstName" class="form-control" />
                    <span asp-validation-for="Guardian_FirstName" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Guardian_Surname" class="control-label"></label>
                    <input asp-for="Guardian_Surname" class="form-control" />
                    <span asp-validation-for="Guardian_Surname" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Guardian_Identity" class="control-label"></label>
                    <input asp-for="Guardian_Identity" class="form-control" />
                    <span asp-validation-for="Guardian_Identity" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="Guardian_Address" class="control-label"></label>
                    <textarea asp-for="Guardian_Address" class="form-control mb-3" rows="3" placeholder="Address"></textarea>
                    <span asp-validation-for="Guardian_Address" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Relationship" class="control-label"></label>
                    <input asp-for="Relationship" class="form-control" />
                    <span asp-validation-for="Relationship" class="text-danger"></span>
                </div>
                <div class="col-sm-1">
                    <label asp-for="Guardian_Title" class="control-label"></label>
                    <select asp-for="Guardian_Title" class="form-control" asp-items="Html.GetEnumSelectList<TittleEnum>()">
                        <option>Select Tittle ...</option>
                    </select>
                    <span asp-validation-for="Guardian_Title" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-xs-2">
                    <label asp-for="Guardian_Address_Code" class="control-label"></label>
                    <input asp-for="Guardian_Address_Code" class="form-control col-xs-2" />
                    <span asp-validation-for="Guardian_Address_Code" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Occupation" class="control-label"></label>
                    <input asp-for="Occupation" class="form-control" />
                    <span asp-validation-for="Occupation" class="text-danger"></span>
                </div>

                <div class="col-sm-4">
                    <label asp-for="Guardian_CellPhone" class="control-label"></label>
                    <input asp-for="Guardian_CellPhone" class="form-control" />
                    <span asp-validation-for="Guardian_CellPhone" class="text-danger"></span>
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="heading-1"> <span>Former School</span> </h4>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-xs-2">
                    <label asp-for="School_Name" class="control-label"></label>
                    <input asp-for="School_Name" class="form-control col-xs-2" />
                    <span asp-validation-for="School_Name" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="School_Center" class="control-label"></label>
                    <input asp-for="School_Center" class="form-control" />
                    <span asp-validation-for="School_Center" class="text-danger"></span>
                </div>

                <div class="col-sm-4">
                    <label asp-for="School_City_Town" class="control-label"></label>
                    <input asp-for="School_City_Town" class="form-control" />
                    <span asp-validation-for="School_City_Town" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="School_ContactNumber" class="control-label"></label>
                    <input asp-for="School_ContactNumber" class="form-control" />
                    <span asp-validation-for="School_ContactNumber" class="text-danger"></span>
                </div>
            </div>


            <div class="panel-heading">
                <h4 class="heading-1 text-warning"> <span>Subjects Choices</span> </h4>
            </div>


            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10 input-validation-error">
     
                        @for (int i = 0; i < Model.Subjects.Count(); i++)
                        {
                            <div class="col-sm-2">
                                <input asp-for="@Model.Subjects[i].CheckboxAnswer" type="checkbox" class = "hobbycls"/>
                                <label asp-for="@Model.Subjects[i].Id">@Model.Subjects[i].Name</label>
                                <input asp-for="@Model.Subjects[i].Id" type="hidden" />
                                <input asp-for="@Model.Subjects[i].Name" type="hidden" />
                                <span asp-validation-for="Subjects" class="text-danger"></span>
                                <br />
                            </div>
                        }
                        <span id="Hobbies-error" class="field-validation-error">
                            <span>Select any hobbies.</span>
                        </span>
                    
                </div>
                    <div>
                        <hr />
                    </div>
                    <span asp-validation-for="Subjects" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register Student" class="btn btn-primary btn-lg" />
                </div>

</form>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        var declarationsError = $('#Hobbies-error');
        $('form').submit(function () {
            if ($(".hobbycls:checkbox:checked").length > 0) {
                declarationsError.hide();
                return true;
            } else {
                declarationsError.show();
                return false;
            }
        });

        $('.hobbycls').change(function () {
            if ($(this).is(':checked')) {
                declarationsError.hide(); // hide error message
            }
        });
    </script>
}
<style>
    .heading-1 {
        position: relative;
        text-align: center
    }

        .heading-1:before {
            content: "";
            display: block;
            border-top: solid 2px #bebebe;
            width: 100%;
            height: 2px;
            position: absolute;
            top: 50%;
            z-index: 0;
        }

        .heading-1 span {
            background: #fff;
            padding: 0 10px;
            position: relative;
            z-index: 1;
        }
</style>


